@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');

header {
    background-color: #CF2B2B;
    height: 92px;
    width: 414px;
    position: fixed;
    z-index: 1;


}


main {
    width: 414px;
    



}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;



}

header h1 {
    font-size: 44px;
    font-family: righteous;
    color: white;
    padding-top: 8px;
    margin-left: 21px;
}

header h3 {
    font-size: 18px;
    font-family: roboto;
    color: white;
    margin-top: 5px;
    margin-left: 21px;
}



.container {

    width: 414px;
    margin: auto;
   
    position: relative;
    top: 100px;

}

.container h1 {
    font-size: 26px;
    font-family: righteous;
    margin-left: 19px;
    margin-top: 27px;
    margin-bottom: 17px;

}


.pratos {
    background-color: #E5E5E5;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    width: 414px;
    min-width: 414px;
}
.bebidas {
    background-color: #E5E5E5;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    width: 414px;
    min-width: 414px;
}
.sobremesas {
    background-color: #E5E5E5;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    width: 414px;
    min-width: 414px;
    margin-bottom: 200px;
}




.centralizaPrato {
    width: 172px;
    background-color: white;
    margin-left: 16px;
    border-radius: 9px;
    box-sizing: border-box;
    min-width: 172px;
    box-sizing: border-box;
    border: 5px solid white;

}

.selecionado{
    border: 5px solid green;
}

.prato {
    background-color: white;
    width: 144px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    margin: auto;
    
   
}

.prato img {
    width: 144px;
    height: 88px;
    background-color: yellow;

    margin-top: 18px;
    border-radius: 4px;

}

.prato h2 {
    margin-top: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    height: 23px;
    color: #333333;
}


.prato h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-top: 4px;
    color: #A6A6A6;
}

.prato h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
    color: #000000;
    margin-bottom: 16px;
}

.modify h6 {
    margin-top: 8px;
}


.pedido{
    text-align: center;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: white;
font-weight: bold;
background-color: green;
    
    
}


footer {
    background-color: white;
    height: 92px;
    width: 414px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    
   
    
    
    
}

footer button {
    width: 364px;
height: 61px;

    background: #CBCBCB;
    border-radius: 50px;
margin-top: 15px;

text-align: center;
align-items: center;
justify-content: center;
border: none;

}


footer button h3{
    margin: auto;
    margin-top: 3px;
    display: flex;
    justify-content: center;
   
    line-height: 20px;
    color: white;
    width: 200px;
height: 53px;
left: 25px;
bottom: 16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.018em;
}

